/* themeStyles.css */

.pink-purple {
  background: linear-gradient(135.48deg, rgb(255, 64, 129) 0%, rgb(123, 31, 162) 20%, rgb(255, 64, 129) 47.5%, rgb(186, 104, 200) 67%, rgb(123, 31, 162) 83%, rgb(255, 64, 129) 100%), linear-gradient(rgb(248, 187, 208) 0%, rgb(244, 143, 177) 85.42%);
}

.teal-cyan {
  background: linear-gradient(135.48deg, rgb(0, 150, 136) 0%, rgb(0, 77, 64) 20%, rgb(0, 150, 136) 47.5%, rgb(0, 121, 107) 67%, rgb(0, 77, 64) 83%, rgb(0, 150, 136) 100%), linear-gradient(rgb(178, 235, 242) 0%, rgb(128, 222, 234) 85.42%);
}

.brown-beige {
  background: linear-gradient(135.48deg, rgb(121, 85, 72) 0%, rgb(62, 39, 35) 20%, rgb(121, 85, 72) 47.5%, rgb(93, 64, 55) 67%, rgb(62, 39, 35) 83%, rgb(121, 85, 72) 100%), linear-gradient(rgb(255, 224, 178) 0%, rgb(255, 204, 128) 85.42%);
}

.purple-blue {
  background: linear-gradient(135.48deg, rgb(106, 57, 171) 0%, rgb(35, 37, 76) 20%, rgb(106, 57, 171) 47.5%, rgb(59, 46, 117) 67%, rgb(35, 37, 76) 83%, rgb(106, 57, 171) 100%), linear-gradient(rgb(223, 230, 233) 0%, rgb(238, 242, 243) 85.42%);
}

.green-yellow {
  background: linear-gradient(135.48deg, rgb(67, 160, 71) 0%, rgb(27, 94, 32) 20%, rgb(67, 160, 71) 47.5%, rgb(46, 125, 50) 67%, rgb(27, 94, 32) 83%, rgb(67, 160, 71) 100%), linear-gradient(rgb(255, 245, 157) 0%, rgb(255, 249, 196) 85.42%);
}

.orange-red {
  background: linear-gradient(135.48deg, rgb(255, 112, 67) 0%, rgb(191, 54, 12) 20%, rgb(255, 112, 67) 47.5%, rgb(216, 67, 21) 67%, rgb(191, 54, 12) 83%, rgb(255, 112, 67) 100%), linear-gradient(rgb(255, 224, 178) 0%, rgb(255, 236, 179) 85.42%);
}

.blue-black {
  background: linear-gradient(135.48deg, rgb(63, 81, 181) 0%, rgb(25, 32, 72) 20%, rgb(63, 81, 181) 47.5%, rgb(41, 55, 148) 67%, rgb(25, 32, 72) 83%, rgb(63, 81, 181) 100%), linear-gradient(rgb(255, 205, 210) 0%, rgb(255, 183, 187) 85.42%);
}

.yellow-orange {
  background: linear-gradient(135.48deg, rgb(255, 235, 59) 0%, rgb(158, 157, 36) 20%, rgb(255, 235, 59) 47.5%, rgb(205, 220, 57) 67%, rgb(158, 157, 36) 83%, rgb(255, 235, 59) 100%), linear-gradient(rgb(255, 213, 79) 0%, rgb(255, 193, 7) 85.42%);
}

.cyan-purple {
  background: linear-gradient(135.48deg, rgb(0, 188, 212) 0%, rgb(0, 96, 100) 20%, rgb(0, 188, 212) 47.5%, rgb(0, 151, 167) 67%, rgb(0, 96, 100) 83%, rgb(0, 188, 212) 100%), linear-gradient(rgb(171, 71, 188) 0%, rgb(126, 87, 194) 85.42%);
}

.pink-orange {
  background: linear-gradient(135.48deg, rgb(233, 30, 99) 0%, rgb(94, 12, 40) 20%, rgb(233, 30, 99) 47.5%, rgb(173, 20, 87) 67%, rgb(94, 12, 40) 83%, rgb(233, 30, 99) 100%), linear-gradient(rgb(255, 152, 0) 0%, rgb(255, 193, 7) 85.42%);
}

.blue-green {
  background: linear-gradient(135.48deg, rgb(33, 150, 243) 0%, rgb(13, 71, 161) 20%, rgb(33, 150, 243) 47.5%, rgb(25, 118, 210) 67%, rgb(13, 71, 161) 83%, rgb(33, 150, 243) 100%), linear-gradient(rgb(76, 175, 80) 0%, rgb(139, 195, 74) 85.42%);
  box-shadow: rgb(70 63 137) 0px 22px 70px 4px;
}

.white-gray {
  background: linear-gradient(135.48deg, rgb(255, 255, 255) 0%, rgb(189, 189, 189) 20%, rgb(255, 255, 255) 47.5%, rgb(224, 224, 224) 67%, rgb(189, 189, 189) 83%, rgb(255, 255, 255) 100%), linear-gradient(rgb(248, 248, 248) 0%, rgb(245, 245, 245) 85.42%);
  box-shadow: rgb(146 134 138) -1px 3px 20px 4px;
}

.white-blue {
  background: linear-gradient(135.48deg, rgb(255, 255, 255) 0%, rgb(144, 202, 249) 20%, rgb(255, 255, 255) 47.5%, rgb(187, 222, 251) 67%, rgb(144, 202, 249) 83%, rgb(255, 255, 255) 100%), linear-gradient(rgb(227, 242, 253) 0%, rgb(187, 222, 251) 85.42%);
  box-shadow: rgb(70 113 133) -1px 3px 20px 4px;
}

.white-pink {
  background: linear-gradient(135.48deg, rgb(255, 255, 255) 0%, rgb(248, 187, 208) 20%, rgb(255, 255, 255) 47.5%, rgb(244, 143, 177) 67%, rgb(248, 187, 208) 83%, rgb(255, 255, 255) 100%), linear-gradient(rgb(252, 228, 236) 0%, rgb(248, 187, 208) 85.42%);
  box-shadow: rgb(248 190 210) -1px 3px 20px 4px;
}

.white-gold {
  background: linear-gradient(135.48deg, rgb(255, 255, 255) 0%, rgb(255, 215, 0) 20%, rgb(255, 255, 255) 47.5%, rgb(255, 223, 0) 67%, rgb(255, 215, 0) 83%, rgb(255, 255, 255) 100%), linear-gradient(rgb(255, 248, 220) 0%, rgb(255, 239, 213) 85.42%);
  box-shadow: rgb(133, 133, 70) 0-1px 3px 20px 4px;
}

.blue-pink {
  background: linear-gradient(135.48deg, rgb(63, 81, 181) 0%, rgb(170 60 154) 20%, rgb(63, 81, 181) 47.5%, rgb(123 41 148) 67%, rgb(25, 32, 72) 83%, rgb(179 63 181) 100%), linear-gradient(rgb(255, 205, 210) 0%, rgb(255, 183, 187) 85.42%);
}